:root{
    --primary: #8221AB;
    --secondary: #321AB8;
    --mainBackground: #121212;
    --white: #E8D9EE;
    --white75: #B2A7B7;
    --white50: #7D7680;
    --white25: #484449;
    --white10: #272628;
    --white5: #1D1C1D;
    --error: #D81639;
}

html, body{
    margin:0px;
    padding:0px;
}

body{
    background-color: var(--mainBackground);
}

a{
    color: var(--white);
    text-decoration: none;
}

a :hover{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Fira Sans", sans-serif;
    color: var(--white);
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 89px;
    line-height: 106.8px;
}

h2{
    font-size:67px;
    line-height: 80.4px;
}

h3{
    font-size:50px;
    font-weight: normal;
    line-height: 60px;
}

h4{
    font-size:37px;
    line-height: 44.4px;
}

h5{
    font-size:28px;
    line-height: 33.6px;
}

h6{
    font-size:21px;
    line-height: 25.2px;
}

p, .formText{
    color: var(--white75);
    font-size: 21px;
    font-family: "Rubik", sans-serif;
    line-height: 24.9px;
}

.backgroundDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
}

#backgroundImg{
    width: 1080px;
    height: 1080px;
    filter: invert(11%) sepia(0%) saturate(2648%) hue-rotate(357deg) brightness(89%) contrast(96%);
}

.header{
    padding-top: 24px;
    padding-bottom:24px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid var(--white25);
    background-color: var(--mainBackground);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navigation{
    display: flex;
}

#myLogo{
    width: 32px;
    height: 32px;
    filter: invert(96%) sepia(2%) saturate(5751%) hue-rotate(201deg) brightness(91%) contrast(107%);
}

.navLink{
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
}

.navText{
    color: var(--white);
}

#githubLogo{
    width: 32px;
    height: 32px;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-left:128px;
    padding-right: 128px;;
    padding-top: 96px;
    align-items: center;
    padding-bottom: 800px;
    gap: 64px;
}

.homeIntro{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 540px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.gradientText{
    background-image: linear-gradient(170deg, rgba(130,33,171,1) 25%, rgba(50,26,184,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width:fit-content;
}

#seeWorkButton, #submitFormButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 100px;
    background: rgb(130,33,171);
    background: linear-gradient(170deg, rgba(130,33,171,1) 25%, rgba(50,26,184,1) 100%);
}

.buttonText{
    color: var(--white);
    font-weight: bold;
}

.buttonDownArrow{
    width: 32px;
    height: 32px;
    padding-left: 24px;
    filter: invert(96%) sepia(2%) saturate(5751%) hue-rotate(201deg) brightness(91%) contrast(107%);
}

#homePhoto{
    background-color: var(--white10);
    width: 400px;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
}

.projectsArea{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}


.projectsList{
    padding-top: 96px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.project{
    width: 400px;
    height: 600px;
    background-color: var(--white10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projectColor{
    margin-top: 24px;
    width: 384px;
    height: 157px;
    background-color: white;
}


#tahawColor{
    background-color: #B599D2;
}

.projectImg{
    width: 360px;
    position: absolute;
    margin-top: 48px;
}

.projectText{
    margin-top: 64px;
    text-align: center;
}




#aboutHero{
    flex-direction: column;
    padding-bottom: 0px;
    padding-left: 256px;
    padding-right: 256px;
}

#aboutHeroContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left:0px;
    padding-right: 0px;
    align-items: center;
}

#relevantSkills{
    width: 480px;
    height: 480px;
    background-color: var(--white10);
    border-radius: 20px;
}

#relevantSkillsTitleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#relevantSkillsContent{
    text-align: center;
    margin-top: 16px;
}

ul#relevantSkillsList{
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    color: var(--white);
    font-weight: bold;
    font-size:21px;
    line-height: 30.2px;
    margin-top: 48px;
    margin-left: 32px;
}

#aboutMeText{
    width: 480px;
    height: 480px;
    
}
#aboutMeP{
    margin: 0px;
    padding: 0px;
}

#osuLogo{
    width: 64px;
}

#contactFormDiv{
    margin-top: 96px;
    background-color: var(--white10);
    margin-left: 480px;
    margin-right: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    min-width: 512px;
    border-radius: 20px;
}

#contactForm{
    display: flex;
    flex-direction: column;
    width: 64%;
}

input[type=text], input[type=email], input[type="tel:123-456-7890"]{
    background-color: var(--white);
    border-radius: 4px;
    border: 4px solid;
    border-color: var(--white);
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
}

input[type=text]:focus, input[type=email]:focus, input[type="tel:123-456-7890"]:focus{
    border-color: var(--primary);
}

input:required:not(:focus):not(:placeholder-shown):invalid{
    border-color: var(--error);
}

.formText{
    color: var(--white75);
    margin-top: 24px;
}

#submitFormButton{
    margin-top: 24px;
    margin-bottom: 24px;
    width: 50%;
    align-self: center;
}